/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Serif Display';
  font-weight: 400;
  src: url('../fonts/dm-serif-display-v11-latin-regular.woff2') format('woff2'),
  url('../fonts/dm-serif-display-v11-latin-regular.woff') format('woff'); 
}
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v23-latin-regular.woff2') format('woff2'),
  url('../fonts/karla-v23-latin-regular.woff') format('woff'); 
}
/* karla-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v23-latin-700.woff2') format('woff2'), 
  url('../fonts/karla-v23-latin-700.woff') format('woff'); 
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla","Arial",sans-serif;
  font-weight: bold;
}
/* header style started */
.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
.header_big_box {
  padding-top: 21px;
  padding-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.head_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav_list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav_item {
  margin-right: 26px;
  list-style: none;
}
.nav_item:last-child {
  margin-right: 33px;
}
.nav_item_link {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #837d88;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.nav_item_link:hover {
  color: #2c2830;
}
.header_link {
  padding: 13px 29px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #2c2830;
  text-decoration: none;
  color: #2c2830;
  -webkit-transition: background-color 0.5s ease,color 0.5s ease;
  -o-transition: background-color 0.5s ease,color 0.5s ease;
  transition: background-color 0.5s ease,color 0.5s ease;
}
.header_link:hover {
  background-color: #2c2830;
  color: #fff;
}
/* header style end */
/* hero section style started */
.wrapper {
}
.hero_section {
  background-image: url(../images/headerpath.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 622px) calc(50% - 120px);
  background-color: #2d2641;
}
.section_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text_box {
  width: 540px;
  padding-bottom: 127px;
}
.line {
  width: 150px;
  height: 1px;
  margin-top: 210px;
  display: inline-block;
  background-color: #fff;
}
.heading {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin-top: 63px;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #fff;
}
.headiing_text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #fff;
}
.section_link {
  padding: 13px 29px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #fff;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.4s ease,color 0.4s ease;
  -o-transition: background-color 0.4s ease,color 0.4s ease;
  transition: background-color 0.4s ease,color 0.4s ease;
}
.section_link:hover {
  background-color: #fff;
  border: 1.5px solid #fff;
  color: #2c2830;
}
.img_box {
  position: relative;
}
.section_img {
  position: absolute;
  top: 210px;
  left: 30px;
}
/* hero section style end */
/* site services section styles started */
.services_section {
  padding-top: 305px;
  padding-bottom: 158px;
}
.next_line {
  width: 150px;
  height: 1px;
  margin-bottom: 63px;
  display: inline-block;
  background-color: #c396c6;
}
.services_section_title {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 96px;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2c2830;
}
.services_list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services_item {
  width: 350px;
  list-style: none;
}
.services_item:not(:last-child) {
  margin-right: 30px;
}
.item_img {
  width: 86px;
  height: 86px;
  margin-bottom: 32px;
  display: inline-block;
  border-radius: 50%;
  background-color: #96a9c6;
}
.services_img_first {
  background-image: url("../images/lightinglogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.services_img_two {
  background-image: url("../images/dollarlogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.services_img_last {
  background-image: url("../images/peoplelogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.item_subtitle {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
  color: #2c2830;
}
.item_desc {
  margin: 0;
  line-height: 26px;
  color: #837d88;
  font-weight: normal;
}
/* site services section styles end */
/* site article style */
.site_article {
  padding-bottom: 150px;
}
.article_wrapper {
  padding: 69px 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/articleimg.svg");
  background-repeat: no-repeat;
}
.article_textbox {
  width: 475px;
}
.article_title {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin: 0;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #fff;
}
.article_link {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #fff;
  padding: 13px 25px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.4s ease,color 0.4s ease;
  -o-transition: background-color 0.4s ease,color 0.4s ease;
  transition: background-color 0.4s ease,color 0.4s ease;
}
.article_link:hover {
  background-color: #fff;
  border: 1.5px solid #fff;
  color: #2c2830;
}
/* site article end */
/* site footer started */
.foot_wrapper {
  padding: 67px 0 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.social_media_list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s_media_item {
  list-style: none;
}
.s_media_item:not(:last-child) {
  margin-right: 16px;
}
.s_media_link {
  fill: #837D88;
}
.s_media_link:hover {
  transition: 0.5s;
  fill: #2c2830;
}
hr {
  margin-top: 0;
  margin-bottom: 48px;
}
/* -------------------------------- */
.foot_nav_box {
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: first baseline;
}
.foot_nav_list {
  margin: 0;
  margin-right: 30px;
  padding-left: 0;
}
.foot_nav_title {
  margin-top: 0;
  margin-bottom: 36px;
  display: inline-block;
  color: #837d88;

}
.last_list {
  margin-right: 0;
}
.foot_nav_item {
  width: 255px;
  list-style: none;
}
.foot_item_link {
  margin-bottom: 16px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #2d2641;
}
.foot_item_link:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
/* site footer end */