/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Serif Display';
  font-weight: 400;
  src: url('../fonts/dm-serif-display-v11-latin-regular.woff2') format('woff2'),
  url('../fonts/dm-serif-display-v11-latin-regular.woff') format('woff'); 
}
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v23-latin-regular.woff2') format('woff2'),
  url('../fonts/karla-v23-latin-regular.woff') format('woff'); 
}
/* karla-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v23-latin-700.woff2') format('woff2'), 
  url('../fonts/karla-v23-latin-700.woff') format('woff'); 
}
* {
  box-sizing: border-box;
}
/* header style started */
.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
.header_big_box {
  padding-top: 21px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_link_box {
  display: flex;
  align-items: center;
}
.nav_list {
  margin: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.nav_item {
  margin-right: 26px;
  list-style: none;
}
.nav_item:last-child {
  margin-right: 33px;
}
.nav_item_link {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #837d88;
  transition: color 0.5s ease;
}
.nav_item_link:hover {
  color: #2c2830;
}
.header_link {
  padding: 13px 29px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #2c2830;
  text-decoration: none;
  color: #2c2830;
  transition: background-color 0.5s ease,color 0.5s ease;
}
.header_link:hover {
  background-color: #2c2830;
  color: #fff;
}
/* header style end */
/* hero section style started */
.hero_section {
  background-color: #2d2641;
}
.section_wrapper {
  display: flex;
}
.text_box {
  width: 540px;
  padding-bottom: 127px;
}
.line {
  width: 150px;
  height: 1px;
  margin-top: 105px;
  display: inline-block;
  background-color: #fff;
}
.heading {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin-top: 63px;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #fff;
}
.headiing_text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
  line-height: 26px;
  color: #fff;
}
.section_link {
  padding: 13px 29px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #fff;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.4s ease,color 0.4s ease;
}
.section_link:hover {
  background-color: #fff;
  border: 1.5px solid #fff;
  color: #2c2830;
}
.img_box {
  position: relative;
}
.section_img {
  position: absolute;
  top: 105px;
  left: 30px;
}
/* hero section style end */
/* site services section styles started */
.services_section {
  padding-top: 305px;
  padding-bottom: 158px;
}
.next_line {
  width: 150px;
  height: 1px;
  margin-bottom: 63px;
  display: inline-block;
  background-color: #c396c6;
}
.services_section_title {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 96px;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2c2830;
}
.services_list {
  margin: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.services_item {
  width: 350px;
  list-style: none;
}
.services_item:not(:last-child) {
  margin-right: 30px;
}
.item_img {
  width: 86px;
  height: 86px;
  margin-bottom: 32px;
  display: inline-block;
  border-radius: 50%;
  background-color: #96a9c6;
}
.services_img_first {
  background-image: url("../images/lightinglogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.services_img_two {
  background-image: url("../images/dollarlogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.services_img_last {
  background-image: url("../images/peoplelogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.item_subtitle {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
  color: #2c2830;
}
.item_desc {
  margin: 0;
  line-height: 26px;
  color: #837d88;
  font-weight: normal;
}
/* site services section styles end */
/* site article style */
.site_article {
  padding-bottom: 150px;
}
.article_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2641;
}
.article_textbox {
  width: 475px;
  margin-left: 81px;
}
.article_title {
  font-family: "DM Serif Display",serif;
  font-weight: normal;
  margin: 0;
  padding: 69px 0;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #fff;
}
.article_link {
  margin-right: 80px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  border: 1.5px solid #fff;
  padding: 13px 25px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.4s ease,color 0.4s ease;
}
.article_link:hover {
  background-color: #fff;
  border: 1.5px solid #fff;
  color: #2c2830;
}
/* site article end */
/* site footer started */
.foot_wrapper {
  padding: 67px 0 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social_media_list {
  margin: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.s_media_item {
  list-style: none;
}
.s_media_item:not(:last-child) {
  margin-right: 16px;
}
.s_media_link:hover {
  background-color: #2c2830;
}
hr {
  margin-top: 0;
  margin-bottom: 48px;
}
/* -------------------------------- */
.foot_nav_box {
  padding-bottom: 64px;
  display: flex;
  align-items: center;
}
.foot_nav_list {
  margin: 0;
  margin-right: 30px;
  padding-left: 0;
}
.last_list {
  margin-right: 0;
}
.foot_nav_item {
  width: 255px;
  list-style: none;
}
.foot_item_link {
  margin-bottom: 16px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #2d2641;
}
.foot_item_link:hover {
  text-decoration-line: underline;
}
.first_link {
  margin-bottom: 36px;
  display: inline-block;
  color: #837d88;
}
.first_link:hover {
  text-decoration-line: none;
}
/* site footer end */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
  margin: 0;
  font-family: "Karla","Arial",sans-serif;
  font-weight: bold;
}

/**
* Render the `main` element consistently in IE.
*/

main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
  border-style: none;
}

/* Forms
========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
  display: list-item;
}

/* Misc
========================================================================== */

/**
* Add the correct display in IE 10+.
*/

template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
  display: none;
}